extends layout 

//- block layout-content
//-   div.View.ColorView
//-     h1.Banner Find Your Scheme

block layout-content 
  h1='Whatever'
  p(id='colors') Returned string: #{colors[1]} #{colors[2]} #{colors[3]} #{colors[4]} #{colors[5]} #{colors[6]}